<section class="flex justify-center w-full gap-4 my-2 sm:justify-end">
  <button
    class="p-3 mb-4 rounded-md bg-white/15 text-white font-medium cursor-pointer hover:bg-white/20 transition-colors w-32"
  >
    <i class="fa-solid fa-pen-to-square text-white"></i> Edit
  </button>
  <button
    class="p-3 mb-4 rounded-md bg-white/15 text-white font-medium cursor-pointer hover:bg-white/20 transition-colors w-32"
  >
    <i class="fa-solid fa-trash text-white"></i> Delete
  </button>
  <button
    class="p-3 mb-4 rounded-md bg-primary text-white font-medium cursor-pointer hover:bg-secondary transition-colors w-32"
  >
    <i class="fa-solid fa-plus text-white"></i> Create
  </button>
</section>
