<header class="py-4 px-14 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <nav class="w-full">
      <ul class="flex space-x-10 items-center">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li>
          <% if (rootFolderId) { %>
          <a href="/upload/<%= rootFolderId %>" class="hover:underline"
            >Upload</a
          >
          <% } else { %>
          <a href="/log-in" class="hover:underline">Upload</a>
          <% } %>
        </li>

        <li class="ml-auto">
          <% if (currentUser) { %>
          <a href="/log-out" class="hover:underline">Logout</a>
          <% } else { %>
          <a href="/log-in" class="hover:underline">Login</a>
          <% } %>
        </li>
      </ul>
    </nav>
  </div>
</header>
