<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload</title>
    <link href="/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="flex flex-col items-center gap-4 p-7">
      <%- include('partials/actions') %>
      <div
        class="border border-dashed border-gray-400 rounded-lg p-10 w-full max-w-md flex flex-col items-center justify-center cursor-pointer mt-15"
        onclick="document.getElementById('fileInput').click()"
      >
        <!-- Cloud Icon with Documents -->
        <i class="fas fa-cloud-upload-alt text-primary mb-4 text-7xl"></i>

        <!-- Upload Text -->
        <p class="text-primary mb-4">Click to upload a file</p>

        <!-- Upload Button -->
        <form
          action="/upload"
          method="post"
          enctype="multipart/form-data"
          class="w-full"
          id="uploadForm"
        >
          <input type="file" id="fileInput" class="hidden" name="file" />
          <p class="text-gray-400 text-xs text-center">(up to 10MB)</p>
        </form>

        <!-- Supported Formats -->
        <p class="text-gray-400 text-xs mt-8">
          PNG, JPEG, PDF, MP4, AVI, TXT are supported
        </p>
      </div>
    </div>
    <script>
      const fileInput = document.getElementById("fileInput");
      const form = document.getElementById("uploadForm");

      fileInput.addEventListener("change", async (event) => {
        if (fileInput.files.length > 0) {
          form.submit(); // Automatically submits the form
        }
      });
    </script>
  </body>
</html>
